* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.header-nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav-item {
    display: flex;
    justify-content: space-between;
}

.list-item-in-left-navbar {
    position: relative;
    left: 8%;
    /* right: 35%; */
    margin-top: 28px;
    width: 300px;
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
}

.logo-in-header {
    margin-top: 16px;
    /* width: 126px;
    height: 45px; */
}

.list-item-in-right-navbar {
    width: 350px;
    margin-top: 16px;
    position: relative;
    display: flex;
    left: -10%;
    justify-content: space-between;
}

.item-input-in-right-navbar {
    width: 199px;
    height: 32px;
    border: 2px solid #d3d5d9;
    border-radius: 10px;
}

.img-in-header {
    margin-top: 7px;
    margin-left: 8px;
    width: 1441px;
    height: 389px;
}

.content-in-img-header {
    font-size: 19px;
    position: absolute;
    top: 21%;
    margin-left: 130px;
}

.header-content-img {
    font-size: 60px;
}

.paragraph-in-header-img {
    margin-top: 22px;
    width: 443px;
    height: 60px;
}

.introduce-item-in-content {
    margin-top: 56px;
    justify-content: space-around;
    display: flex;
}

.introduce-item-in-content-in-left {
    display: flex;
    width: 550px;
    margin-right: 50px;
    justify-content: space-around;
    
}

.btn-all-products {
    width: 178px;
    padding: 20px;
    padding: 20px;
    background-color: #459d7a;
    color: white;
}

.btn-face {
    width: 178px;
    padding: 20px;
    background-color: #fafafa;
    border-right: 1px solid #c5e6d9;
}

.btn-body{
    width: 178px;
    background-color: #fafafa;
}

.item-search-in-content {
    width: 225px;
    height: 38px;
    border-bottom: 2px solid black;
}


.btn-sort{
    width: 130px;
    height: 47px;
    background-color: #f3f4f6;
    margin-left: 15px;
    color: #79808b;
}

.icon-glass-in-content-itroduce{
    position: absolute;
    margin-top: 15px;
}

.content-in-btn-sort{
    font-size: 20px;
    margin-left: -50px;
}

.icon-sort-in-content-introduce{
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
    font-size: 20px;
    color: #79808b;
}

.list-item-product-skin-care{
    padding-top: 50px;
    width: 1242px;
    text-align: center;
    margin: auto;
}

.list1-in-item-product{
    display: flex;
    justify-content: space-between;
}

/* Start item1 list1 */
.detail-item1-in-list1{
    width: 269px;
}

.title-in-detail-item1-list1{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item1-list1{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item1-list1{
    font-size: 30px;
}

.real-price-in-item1-list1{
    margin-top: 5px;
    font-size: 20px;
    color: #c6c9ce;
}

.icon-cart-in-item1-list1{
    margin-top: -42px;
    position: absolute;
    left: 23%;
}



/* end item1-list1 */

/* Start list 2 */
.detail-item2-in-list1{
    width: 269px;
}

.title-in-detail-item2-list1{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item2-list1{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item2-list1{
    font-size: 30px;
}

.real-price-in-item2-list1{
    margin-top: 5px;
    font-size: 20px;
    color: #c6c9ce;
}

.icon-cart-in-item2-list1{
    margin-top: -42px;
    position: absolute;
    left: 46%;
}

/* End list 1 item2*/

/* Start list 1 item 3  */
.detail-item3-in-list1{
    width: 269px;
}

.title-in-detail-item3-list1{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item3-list1{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item3-list1{
    font-size: 30px;
}

.real-price-in-item3-list1{
    margin-top: 5px;
    font-size: 20px;
    color: #c6c9ce;
}

.icon-cart-in-item3-list1{
    margin-top: -42px;
    position: absolute;
    left: 67%;
}
/* End list 1 item 3 */

/* Start lis1 item 4 */
.detail-item4-in-list1{
    width: 269px;
}

.title-in-detail-item4-list1{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item4-list1{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item4-list1{
    font-size: 30px;
}

.real-price-in-item4-list1{
    margin-top: 5px;
    font-size: 20px;
    color: #c6c9ce;
}

.icon-cart-in-item4-list1{
    margin-top: -42px;
    position: absolute;
    left: 88%;
}
/* End list 1 item4 */


/* List 2  */

/* start List 2 item1 */
.detail-item1-in-list2{
    width: 269px;
}

.title-in-detail-item1-list2{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item1-list2{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.real-price-in-item1-list2{
    margin-top: 5px;
    font-size: 30px;
    color: black;
}

.icon-cart-in-item1-list2{
    margin-top: -42px;
    position: absolute;
    left: 23%;
}

/* End list 2 item1 */


/* Start list 2 item2 */
.detail-item2-in-list2{
    width: 269px;
}

.title-in-detail-item2-list2{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item2-list2{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item2-list2{
    font-size: 30px;
}

.real-price-in-item2-list2{
    margin-top: 5px;
    font-size: 20px;
    color: #c6c9ce;
}

.icon-cart-in-item2-list2{
    margin-top: -42px;
    position: absolute;
    left: 45%;
}

/* End list 2 item 2 */

/* Start list 2 item 3 */
.detail-item3-in-list2{
    width: 269px;
}

.title-in-detail-item3-list2{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item3-list2{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.real-price-in-item3-list2{
    margin-top: 5px;
    font-size: 30px;
    color: black;
}

.icon-cart-in-item3-list2{
    margin-top: -42px;
    position: absolute;
    left: 67%;
}
/* End list 2 item 3 */

/* Start list 2 item 4 */
.detail-item4-in-list2{
    width: 269px;
}

.title-in-detail-item4-list2{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item4-list2{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.real-price-in-item4-list2{
    margin-top: 5px;
    font-size: 30px;
    color: black;
}

.icon-cart-in-item4-list2{
    margin-top: -42px;
    position: absolute;
    left: 88%;
}
/* End list 2 item 4 */


/* Start list 3 item1 */
.detail-item1-in-list3{
    width: 269px;
}

.title-in-detail-item1-list3{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item1-list3{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item1-list3{
    font-size: 30px;
}

.real-price-in-item1-list3{
    margin-top: 5px;
    font-size: 30px;
}

.icon-cart-in-item1-list3{
    margin-top: -42px;
    position: absolute;
    left: 24%;
}
/* End list 3 item 1   */


/* Start list 3 item 2 */
.detail-item2-in-list3{
    width: 269px;
}

.title-in-detail-item2-list3{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item2-list3{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item2-list3{
    font-size: 30px;
}

.real-price-in-item2-list3{
    margin-top: 5px;
    font-size: 20px;
    color: #c6c9ce;
}

.icon-cart-in-item2-list3{
    margin-top: -42px;
    position: absolute;
    left: 45%;
}
/* End list 3 item 2 */


/* Start list 3 item 3 */
.detail-item3-in-list3{
    width: 269px;
}

.title-in-detail-item3-list3{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item3-list3{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}


.real-price-in-item3-list3{
    font-size: 30px;
    margin-top: 5px;
    color: black;
}

.icon-cart-in-item3-list3{
    margin-top: -42px;
    position: absolute;
    left: 67%;
}

/* End list 3 item 3 */


/* Start list 3  item 4 */
.detail-item4-in-list3{
    width: 269px;
}

.title-in-detail-item4-list3{
    font-size: 30px;
    margin-left: -90px;
}

.paragraph-in-detail-item4-list3{
    margin-top: 8px;
    margin-left: -70px;
}

.price-of-product{
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.discount-price-in-item4-list3{
    font-size: 30px;
}

.real-price-in-item4-list3{
    margin-top: 5px;
    font-size: 20px;
    color: #459d7a;
}

.icon-cart-in-item4-list3{
    margin-top: -42px;
    position: absolute;
    left: 88%;
}


/* End list 3 item 4*/

/* Tao ra nhung hieu ung new , best saler va move icon cart */
.status-sale{
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: #ffc970;
    border-radius: 20px;
}

.status-sale-item2-list2{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #ffc970;
    border-radius: 20px;
    top: 163%;
    left: 43%;
}

.status-sale-item4-list3{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #ffc970;
    border-radius: 20px;
    top: 236%;
    left: 87%;
}

.pargarph-in-status-sale-item4-list3{
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.pargarph-in-status-sale-item2-list2{
    font-size: 12px;
    text-align: center;
    margin: auto;
}

.status-sale-item1-list3{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #ffc970;
    border-radius: 20px;
    top: 236%;
    left: 23%;
}

.pargarph-in-status-sale-item1-list3{
    padding-top: 2px;
    font-size: 12px;
    text-align: center;
    margin: auto;
}



.status-sale-item1-list1{
    top: 90%;
    left: 21%;
}

.status-sale-item2-list1{
    top: 90%;
    left: 42%;
}

.status-sale-item3-list1{
    top: 90%;
    left: 63%;
}

.status-sale-item4-list1{
    top: 90%;
    left: 85%;
}


.pargarph-in-status-sale{
    padding-top: 5px;
    text-align: center;
    margin: auto;
    color: #b78635;
}



.list2-in-item-product{
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}


.list3-in-item-product{
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}

.next-page-in-content{
    font-size: 25px;
    padding-top: 93px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.icon-cirle{
    width : 30px ; 
    height:30px ;
    border-radius: 50%;
    background-color: #f4faf8;
}

.content-in-page2{
    text-align: center;
    margin: auto;
}

/* CSS footer */

.footer{
    margin-top: 230px;
    margin-bottom: 10px;
    margin-left: 8px;
    width: 1444px;
    height: 432px;
    background-color: #1d2128;
    
}

.list-in-footer{
    padding-top: 97px;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    width: 727px;
    display: flex;
    justify-content: space-evenly;
}




.item-in-list2-footer > li,
.item-in-list3-footer > li,
.item-in-list1-footer > li{
    list-style: none;
}

.item-in-list2-footer > li >a,
.item-in-list3-footer > li >a,
.item-in-list1-footer > li >a{
    color: #cdd0d5;
    text-decoration: none;
}

.list-langue-in-footer{
    width: 126px;
    height: 39px;
    border: 2px solid #cacdd2;
}

.icon-down-in-footer{
    margin-left: 25px;
    color: #96999f;
}

.title-in-list3-footer,
.title-in-list2-footer,
.title-in-list1-footer{
    color: #dde0e5;
}

.list4-in-footer{
    width: 400px;
    position: absolute;
    color: white;
    left: 130%;
}

.title-in-list4-footer{
    font-size: 35px;
}

.paragraph-in-list4-footer{
    margin-top: 10px;
}

.input-in4-in-footer{
    margin-top: 10px;
    width: 430px;
    height: 49px;
    border-radius: 5px;
}

.icon-envelop-in-footer{
    position: absolute;
    top: 46%;
    color: #79808b;
    font-size: 30px;
    left: 5%;
}

.btn-subscribe{
    margin-top: -49px;
    left: 76%;
    position: absolute;
    width: 126px;
    padding: 20px;
    height: 49px;
    color: #c9e2d8;
    background-color: #459d7a;
    border-radius: 5px;
}

.content-in-btn-subscribe{
    margin-top: -8px;
}

.icon-social-in-footer{
    margin-top: 10px;
    width: 300px;
}

.icon-social-in-footer > a{
    text-decoration: none;
}

.icon-twiteer-in-footer{
    color: #2ebae8;
}

.icon-face-in-footer{
    color: #2e6fe8;
    margin-left: 5px;
}

.icon-linkedin-in-footer{
    color: #7797e4;
    margin-left: 5px;
}

.icon-yt-in-footer{
    color: #e82e2e;
    margin-left: 5px;
}

.no-list-style-in-sublist-in-footer{
    list-style: none;
}

.sublist-in-list4-in-footer{
    right: 8%;
    position: relative;
    width: 400px;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
}