* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.header-nav-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav-item {
    display: flex;
    justify-content: space-between;
}

.list-item-in-left-navbar {
    position: relative;
    left: 8%;
    /* right: 35%; */
    margin-top: 28px;
    width: 300px;
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
}

.logo-in-header {
    margin-top: 16px;
    /* width: 126px;
    height: 45px; */
}

.list-item-in-right-navbar {
    margin-top: 16px;
    position: relative;
    display: flex;
    left: -16%;
}

.item-input-in-right-navbar {
    width: 199px;
    height: 32px;
    border: 2px solid #d3d5d9;
    border-radius: 10px;
}

.img-in-header {
    margin-top: 7px;
    margin-left: 8px;
    width: 1441px;
    height: 389px;
}

.content-in-img-header {
    font-size: 19px;
    position: absolute;
    top: 21%;
    margin-left: 130px;
}

.header-content-img {
    font-size: 60px;
}

.paragraph-in-header-img {
    margin-top: 22px;
    width: 443px;
    height: 60px;
}

.introduce-item-in-content {
    justify-content: space-around;
    display: flex;
}

.introduce-item-in-content-in-left {
    display: flex;
    width: 300px;
    margin-right: 328px;
    justify-content: space-around;
    margin-left: -120px;
}

.btn-all-products {
    width: 178px;
    padding: 20px;
    padding: 20px;
    background-color: #459d7a;
    color: white;
}

.btn-face {
    width: 178px;
    padding: 20px;
    background-color: #fafafa;
    border-right: 1px solid #c5e6d9;
}

.item-search-in-content {
    width: 225px;
    height: 38px;
    border-bottom: 2px solid black;
}


/*  */